@model Vidly.ViewModels.MovieViewModel

@if (Model.Movies.Count == 0)
{
  <text>There aren't any movies.</text>
}
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Movies</th>
      <th>Genre</th>
      <th>Release Date</th>
      <th>Date Added</th>
    </tr>
  </thead>
  @foreach (var movie in Model.Movies)
  {
    <tr>
      <td>@Html.ActionLink(movie.Name, "Detail", "Movies", new { id = movie.Id }, null)</td>
      <td>@movie.Genre.Type</td>
      <td>@movie.ReleaseDate.ToString("MM/dd/yyyy")</td>
      <td>@movie.DateAdded.ToString("MM/dd/yyyy")</td>
    </tr>
  }
</table>