@model Vidly.ViewModels.CustomerViewModel

@if (Model.Customers.Count == 0)
{
  <text>There aren't any customers.</text>
}
<table class="table table-hover">
  <thead>
    <tr>
      <th>Customers</th>
      <th>Customer Birthday</th>
    </tr>
  </thead>
  @foreach (var customer in Model.Customers)
  {
    <tr>
      <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.CustomerId }, null)</td>
      <td>@customer.BirthDate.ToString("MM/dd/yyyy")</td>
    </tr>
  }
</table>